name: Release

on:
    push:
        branches: main
        tags: v*.*.*
  
    pull_request:
        types:
            - synchronize
            - opened
            - reopened
    repository_dispatch:
        types: [EffectiveRange/devc-effectiverange-baseoverlay]
concurrency:    
    group: ${{ github.workflow }}-${{ github.sha }}
    cancel-in-progress: true

jobs:

    prepare_release:
        name: Prepare
        uses: EffectiveRange/ci-workflows/.github/workflows/accept-repository-dispatch.yaml@v1_repodispatch
        with:
            versioned_dispatch_type: EffectiveRange/devc-effectiverange-baseoverlay 

    build-and-publish:
        runs-on: ubuntu-latest
        needs: prepare_release
        strategy:
            matrix:
              build-version: [ "armhf-bookworm", "amd64-bookworm", "arm64-bookworm","armhf-trixie", "amd64-trixie", "arm64-trixie" ]
        steps:
        - 
            name: Check out the repo
            uses: actions/checkout@v4
        - 
            name: install qemu tools
            run: |
                    sudo apt update
                    sudo apt install -y qemu-user qemu-user-static qemu-utils binfmt-support
        - 
            name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3

        - 
            name: Login to Docker Hub
            if: github.event_name != 'pull_request'
            uses: docker/login-action@v3
            with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

        -
            name: Docker meta
            id: meta
            uses: docker/metadata-action@v5
            with:
                images: effectiverange/er-devc-${{ matrix.build-version }}-vision
                flavor: |
                    latest=auto
        - 
            name: Build and push Docker image
            uses: docker/build-push-action@v5
            id: build
            with:
                context: .
                push: ${{ startsWith(github.ref, 'refs/tags/') }}
                tags: ${{ steps.meta.outputs.tags }}
                labels: ${{ steps.meta.outputs.labels }}
                build-args: |
                    BASE_DEVC_IMAGE_REPO=effectiverange/er-devc-${{ matrix.build-version }}
                    BASE_DEVC_IMAGE_VER=${{ needs.prepare_release.outputs.base_version }}


              
            
